<template>
  <ul class="nav-list">
    <!-- TODO: Create button -->
    <!-- TODO: CSR button -->
    <li class="nav-item">
      <!-- TODO: Link to logout -->
      <nuxt-link to="/">
        Log out
      </nuxt-link>
    </li>
    <li class="nav-item">
      <nuxt-link to="/settings">
        <i class="ms-Icon ms-Icon--Settings white-icon" aria-hidden="true" />
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
export default {
  head () {
    return {
      link: [
        { rel: 'stylesheet', href: 'https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/10.0.0/css/fabric.min.css' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
    .white-icon {
        color: #fff;
        font-size: 18px;
    }
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .nav-item {
        margin: 0 10px;
    }
    .nav-item a:hover,
    .nav-item a:active{
        color: #b4b4b4;
    }
    @media (max-width: 767px) {
        .nav-list {
            display: block;
        }
        .nav-item{
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
    @media (min-width: 768px) {
        .nav-list {
            display: flex;
        }
    }
</style>
